.add-product-page {
  padding: 30px;
  text-align: center;
}

.form-container {
  max-width: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

input, textarea, select {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ddd;
}

button {
  padding: 12px;
  background: #1e3a8a;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.preview-img {
  width: 100%;
  border-radius: 8px;
}